/* 
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* background: transparent; */
    list-style-type: none;
}



.header-nav {
     background-color: #FFD036; 
    text-align: -webkit-center;
    margin-bottom: 25px;
}

.header-list{
    max-width: 1160px;
    display: flex;
    justify-content: space-around;
}

.container{
   width: 1160px;
   margin: 0 auto;
}

.wrapper{
     display: flex;
     justify-content: space-between;
     margin-bottom: 31px;
}

.header-list-btn{
    background-color: rgba(255, 208, 54, 1);
    height: 40px;
    width: 232px;
}

.header-list li:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.header-info-text {
    width: 233px;
    color: #1A1A1A;
    font-size: 12px;

     display: inline-block;
}

.logo {
    width: 178px;
    height: 30px;
    margin-right: 15px;
}

.header-tel{
    display: flex;
    justify-content: end;
}

.header-product-el{
    display: flex;
    justify-content: space-between;
} */
